<div>
  <h3>Subjects</h3>
</div>
<table class="table table-bordered">
  <tr>
    <th>Label</th>
    <th>Name</th>
    <th>ECTS</th>
    <th>Study program</th>
  </tr>
  <tr *ngFor="let subject of subjects">
    <td>
      {{subject.label}}
    </td>
    <td>
      {{subject.name}}
    </td>
    <td>
      {{subject.ects}}
    </td>
    <td>
      {{subject.studyProgram.name}}
    </td>
    <td>
      <button type="button" class="btn btn-primary" aria-label="Edit" (click)="gotoEdit(subject)">
        <span class="fa fa-edit" aria-hidden="true"></span>
      </button>

      <button type="button" class="btn btn-primary" aria-label="Delete" (click)="deleteSubject(subject.id)">
        <span class="fa fa-remove" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>
<div class="right">
  <button type="button" class="btn btn-primary" aria-label="Add" (click)="gotoAdd()">
    <span class="fa fa-plus" aria-hidden="true"></span>
  </button>
</div> 