<div>
  <h3>Teacher type</h3>
</div>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
  </tr>
  <tr *ngFor="let teacherType of teacherTypes">
    <td>
      {{teacherType.name}}
    </td>
    <td>
      <button type="button" class="btn btn-primary" aria-label="Edit" (click)="gotoEdit(teacherType)">
        <span class="fa fa-edit" aria-hidden="true"></span>
      </button>

      <button type="button" class="btn btn-primary" aria-label="Delete" (click)="deleteTeacherType(teacherType.id)">
        <span class="fa fa-remove" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>
<div class="right">
  <button type="button" class="btn btn-primary" aria-label="Add" (click)="gotoAdd()">
    <span class="fa fa-plus" aria-hidden="true"></span>
  </button>
</div>
