<form >
      <div class="form-group">
        <label for="field1c" class="form-control-label">Name</label>
        <input type="text" [(ngModel)]="document.name" placeholder="Document name"
           class="form-control" id="field1c" name="field1">
      </div>

 </form>

<div>
   <h3>Students</h3>
</div>

<div class="form-group">
   <select class="form-control" [(ngModel)]="student">
         <option *ngFor="let s of students" [ngValue]="s">{{s.firstname}}</option>
       </select>
</div>



<div>
<button class="btn btn-primary" (click)="goBack()">Cancel</button>
<button class="btn btn-primary" (click)="save()">OK</button>
</div>
