<div>
  <h3>Course leacture</h3>
</div>
<table class="table table-bordered">
  <tr>
    <th>Teacher</th>
    <th>Subject</th>
  </tr>
  <tr *ngFor="let course of courseLectures">
    <td>
      {{course.teacher.name}}
    </td>
    <td>
      {{course.subject.name}}
    </td>
    <td>
      <button type="button" class="btn btn-primary" aria-label="Edit" (click)="gotoEdit(course)">
        <span class="fa fa-edit" aria-hidden="true"></span>
      </button>

      <button type="button" class="btn btn-primary" aria-label="Delete" (click)="deleteCourseLecture(course.id)">
        <span class="fa fa-remove" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>
<div class="right">
  <button type="button" class="btn btn-primary" aria-label="Add" (click)="gotoAdd()">
    <span class="fa fa-plus" aria-hidden="true"></span>
  </button>
</div>
