<div>
  <h3>Study programs</h3>
</div>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Course type</th>
    <th></th>
  </tr>
  <tr *ngFor="let i of studyPrograms">
    <td>
      {{i.name}}
    </td>
    <td>
      {{i.duration}}
    </td>
    <td>
      {{i.courseType}}
    </td>
    <td>
      <button type="button" class="btn btn-primary" aria-label="Edit" (click)="gotoEdit(i)">
        <span class="fa fa-edit" aria-hidden="true"></span>
      </button>

      <button type="button" class="btn btn-primary" aria-label="Delete" (click)="deleteStudyProgram(i.id)">
        <span class="fa fa-remove" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>
<div class="right">
  <button type="button" class="btn btn-primary" aria-label="Add" (click)="gotoAdd()">
    <span class="fa fa-plus" aria-hidden="true"></span>
  </button>
</div>
